@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  :root {
    --background: 0 0% 100%;           /* #fff ホワイト */
    --foreground: 0 0% 20%;            /* #333333 ダークグレー */
    --surface: 0 0% 94%;               /* #f0f0f0 ライトグレー */

    --card: 0 0% 100%;                  /* #ffffff ホワイト */
    --card-foreground: 222.2 84% 4.9%;  /* #020817 ダークネイビー */

    --popover: 0 0% 100%;                 /* #ffffff ホワイト */
    --popover-foreground: 222.2 84% 4.9%; /* #020817 ダークネイビー */

    --primary: 206 68% 42%;            /* #2277b4 ブルー */
    --primary-foreground: 210 40% 98%; /* #f7fafc ほぼホワイト */

    --secondary: 210 40% 96.1%;        /* #f1f5f9 ペールグレー */
    --secondary-foreground: 222.2 47.4% 11.2%; /* #0f172a ダークネイビー */

    --muted: 0 1% 43%;  /* #6E6C6C  グレー */
    --muted-foreground: 215.4 16.3% 46.9%; /* #64748b グレーブルー */

    --accent: 142 71% 45%;             /* #21b560 グリーン */
    --accent-foreground: 222.2 47.4% 11.2%; /* #0f172a ダークネイビー */

    --destructive: 0 84.2% 60.2%;      /* #f87171 レッド */
    --destructive-foreground: 210 40% 98%; /* #f7fafc ほぼホワイト */

    --border: 214.3 31.8% 91.4%;       /* #e2e8f0 ライトグレー */
    --input: 214.3 31.8% 91.4%;        /* #e2e8f0 ライトグレー */

    --ring: 222.2 84% 4.9%;            /* #020817 ダークネイビー */

    --chart-1: 12 76% 61%;             /* #e76e5b オレンジレッド */
    --chart-2: 173 58% 39%;            /* #29a383 ティール */
    --chart-3: 197 37% 24%;            /* #263f54 ダークブルー */
    --chart-4: 43 74% 66%;             /* #e8c95f イエロー */
    --chart-5: 27 87% 67%;             /* #f38c4e オレンジ */

    /* 出荷ステータス */
    /* 通常出荷 */
    --status-normal: 142 71% 45%;           
    --status-normal-foreground: 210 40% 98%;;

    /* 限定出荷 */  
    --status-limited: 52 85% 63%;        
    --status-limited-foreground: 210 40% 98%;;

     /* 出荷停止 */
    --status-stop: 348 72% 60%;          
    --status-stop-foreground: 210 40% 98%;;

    /* 販売中止 */
    --status-discontinued: 220 9% 46%;   
    --status-discontinued-foreground: 210 40% 98%;;

    /* 販売移管 */
    --status-transfer: 221 83% 53%;      
    --status-transfer-foreground: 210 40% 98%;

    /* 医薬品区分タグ  */
    --tag-brand: 210 70% 50%;
    --tag-generic: 165 55% 50%;

    --radius: 0.5rem;                 

  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
